@model IEnumerable<Bangazon.Models.Product>


<table class="table">
    <thead>
        <tr>
            <th>
                <h2>Product Search Results</h2>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId"> @Html.DisplayFor(modelItem => item.Title) </a>
            </td>
           
        </tr>
}
    </tbody>
</table>
